

#main_title {
	justify-content: center;
	text-align: center;
}

.pure-u-1 {
	width: 100%;
}

#chloro {
	text-align: center;
}

.pure-u-1-6 {
	text-align: left;
}

#para {
	padding-left: 20%;
	padding-right: 10%;
}