
body {
	align-content: center;
	margin: auto;
	max-width: 1200px;
	background: #161a1d;
}

.vega-bindings{
	position: absolute;
	color: white;
	text-align: left;
	width: 100%;
	top:89%;
	left:36%;
	
}

.vega-bind {
	float:left;
	padding-right:1%;
}
#hiddenUpdate {
	visibility: hidden;
	position: absolute;
}
.wholeBody{
	width:1200px;
	align-content: center;
}

.title {
	width:100%;
	text-align: center;
	justify-content: center;
	color: #ffffff;
	padding: 0;
}


#mainTitle {
	font-size: 120px;
	margin-bottom: 0;
	letter-spacing: 7.65px;
}

#subMainTitle {
	font-size: 40px;
	margin-top: 0;
	letter-spacing: 3px;
}

.introduction {
	width: 100%;
}

.stationInfo {
	width: 100%;
}

.paragraph {
	float: left;
	color: #ffffff;
	text-align: justify;
}

.stationChartContainer {
	width: 100%;
	text-align: center;
	justify-content: center;
}

#introC1{
	width: 26.5%;
	padding-right: 5%;
}

#introC2 {
	width: 27%;
}

#introC3 {
	width: 36%;
	padding-left: 5%
}

#chloro {
	width: 100%;
	text-align: center;
	justify-content: center;
	float: left;
	padding-top:50px;
	padding-bottom:50px;

}

#donutChart {
	width: 33%;
	text-align: right;
	justify-content: right;
	float: left; 
	margin: 0;
	padding-top:50px;

}

#barPlot {
	width: 33%;
	text-align: left;
	justify-content: left;
	float: left;
	margin: 0;
	padding-top:50px;

}

#linePlot {
	width: 33%;
	text-align: center;
	justify-content: center;
	float: left;
	margin: 0;
	margin-right: 0.5%;
	margin-left: 0.5%;
	padding-top:50px;

}

#info1{
	width: 30%;
	padding-right: 5%;
}

#info2 {
	width: 30%;
}

#info3 {
	width: 30%;
	padding-left: 5%
}